body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #e8e8e8;
    background-image: url('../img/piltover.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    font-size: 70px;
    margin-bottom: 20px;
    color: #0077c2
    animation: entrance 0.5s ease-in-out;
}

img {
    width: 400px;
    display: block;
    margin: 0 auto;
    animation: grow 1s ease-in-out; 
}

p {
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

@keyframes entrance {
    from { opacity: 0; transform: translateY(50px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes grow {
    from { transform: scale(0.8); }
    to { transform: scale(1); }
  }

  img:hover {
    filter: saturate(150%) brightness(1.2);
}

