body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero-section {
    min-height: 100vh;
    background-image: url("../img/4.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(0, 0, 0);
}

.content {
    padding: 50px;
    animation: fade-in 2s ease-in-out;
}

h1, h4 {
    margin-bottom: 20px;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: all 0.3s ease; 
}

a:hover {
    color: white;
}

.hero-gallery {
    position: absolute;
    bottom: 20px;
    right: 20px; 
}

.hero-gallery a {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px; 
    color: white;
}

.hero-gallery a:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

@keyframes fade-in {
    from { opacity: 0; }
  to { opacity: 1; }
}